{% extends "base.html" %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <div class="text-center">  <!-- ใช้ text-center เพื่อจัดให้อยู่ตรงกลาง -->
        <h style="font-size: 60px;" >About</h>
        <!-- <p style="margin-top: 50px; font-size: 20px; ">noon</p>
            <p style="margin-top: 30px; font-size: 20px;" >Chanokporn Saiwiwat -->
        </p>

        {% load static %}
        <!-- <img src="{% static 'myapp/nn.png' %}" alt="Logo" class="mb-5 figure-img img-fluid rounded" style="width: 200px; height: auto; margin-top: 80px;"> -->
        <!-- <p style="margin-top: 30px; font-size: 50px;" > Chanokporn Saiwiwat </p> -->
{% endblock %}
