{% extends "base.html" %}

{% block title %}
    <title>Home</title>
{% endblock %}


{% block content %}
<style>
    /* ลบจุดขาวจากรายการ */
    ul {
        list-style-type: none;  /* ลบจุดกลมออก */
        padding: 0;  /* ลบการเว้นระยะซ้ายของรายการ */
    }
</style>
    <h2 class="text-center">Form Edit</h2>
    <form method = "post" >
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" value="{{person.name}}">
        </div>
        <div class="form-group mb-3">
            <label for="age">Age</label>
            <input type="number" name="age" class="form-control" value="{{person.age}}">
        </div>
        <input type="submit" value="Update" class="btn btn-success">
    <!-- <p>please input...</p> -->
    </form>
{% endblock %}