{% extends "base.html" %}

{% block title %}
    <title>LEO</title>
{% endblock %}

{% block content %}
    <div class="text-center fw-bolder">  <!-- ใช้ text-center เพื่อจัดให้อยู่ตรงกลาง ส่วน fw-bolder คือปรับฟ้อนตัวหนังสือเป็นตัวหนาขึ้น -->
        <h style="font-size: 60px; margin-top: 100px;" >LEO</h>
        </p>

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* ลบจุดขาวจากรายการ */
        ul {
            list-style-type: none;  /* ลบจุดกลมออก */
            padding: 0;  /* ลบการเว้นระยะซ้ายของรายการ */
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>เลือกตัวเลือกจาก Links</title> -->
</head>
<body>
    <!-- <h1>เลือกตัวเลือกจาก Links</h1> -->

    <!-- แสดงลิ้งค์ให้เลือก -->
    <img src="https://miro.medium.com/v2/resize:fit:1400/1*spNOroZHepTSuvN39ELENg.png" alt="satellite" width="1000" height="auto">
    <ul>
        {% for option in options %}
            <!-- <li><a href="cosmos/">{{ option }}</a></li> -->
            <li><a href="{{ option.url }}">{{ option.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- แสดงผลหลังการเลือก -->
    {% if selected_option %}
        <p>คุณเลือก: {{ selected_option }}</p>
    {% endif %}
</body>
</html>

{% endblock %}

